body {
  background-image: url("img/stars.gif");
  text-align: center;
}

div {
  display: flex;
  align-content: center;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

p {
  color: red;
  text-align: center;
}
